body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
